rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /player_sessions/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    
    match /admin_secrets/phrase {
      allow read, write: if false; 
    }
    
    match /admin_users/{uid} {
      allow create: if request.auth != null && request.auth.uid == uid &&
                    request.resource.data.secret == get(/databases/$(database)/documents/admin_secrets/phrase).data.value;
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == uid;
    }
    
    match /world_rooms/{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && exists(/databases/$(database)/documents/admin_users/$(request.auth.uid));
    }
    
    match /item_registry/{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && exists(/databases/$(database)/documents/admin_users/$(request.auth.uid));
    }
    
    match /region_themes/{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && exists(/databases/$(database)/documents/admin_users/$(request.auth.uid));
    }
  }
}
